{% extends 'base.html' %}
{% block content %}
<h2>Вход</h2>
<form method="post">
    <label>Email:<br>
        <input type="email" name="email" value="{{ request.form.email }}">
        {% if errors.email %}<span class="error">{{ errors.email }}</span>{% endif %}
    </label><br>
    <label>Пароль:<br>
        <input type="password" name="password">
        {% if errors.password %}<span class="error">{{ errors.password }}</span>{% endif %}
    </label><br>
    {% if errors.general %}<span class="error">{{ errors.general }}</span><br>{% endif %}
    <button type="submit">Войти</button>
</form>
<a href="{{ url_for('register') }}">Нет аккаунта? Зарегистрироваться</a>
{% endblock %}
